module.exports.options = {
    token: 'NTYwNTgyNDUwMDQ1MTI0NjA4.XS0Z3Q.nINe4K_rO9LznHsMFGTObZp7Wik',
    topicChannels: [
      '<#600484913007034388>'
    ],
    roles: ["Staff"],
    servers: [
        { name: 'Server1', url: 'http://37.59.251.207:30120', alias: 'Western RP' },
        { name: 'Server2', url: 'http://127.0.0.1:30121', alias: 'Western RP' }
    ],
    pollRate: 30,
};

